:root {
    --column-num: 3;
    --header-1: 16px;
    --header-2: 18px;
    --text-1: 12px;
}

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,300&display=swap');

* {
    font-family: 'Nunito', sans-serif;
    font-size: var(--text-1);
}

body {
    position: relative;
    width: 100%;
    min-height: 100vh;
}

/* header */
header {
    display: block;
    position: fixed;
    width: 100%;
    max-width: 100vw;
    height: 3em;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px 10px 10px 0;
    background-color: black;
    z-index: 2;
}

.LFM {
    display: inline-block;
    color: aqua;
    text-decoration: none;
    margin-left: 16px;
    font-size: var(--header-1);
    line-height: var(--header-1);
    font-weight: 1000;
    vertical-align: bottom;
}

.LFM:hover {
    color: white;
}

#form {
    display: block;
    float: right;
    margin-right: 10px;
    width: fit-content;
}

#search {
    border: none;
    padding-left: 5px;
    border-radius: 5px;
}

#submit {
    border: none;
    background: none;
    line-height: 16px;
}

#submit > i {
    color: aqua;
}

/* footer */
#footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

#footer > .footTitle {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
    height: 70px;
    background-color: black;
    color: white;
    bottom: -70px;
    margin-bottom: 0;
    width: 100%;
    z-index: 1;
}

/* github */
.gitHub {
    position: sticky;
    display: block;
    float: right;
    bottom: 10px;
    right: 15px;
    margin: 0 5px 5px 0;
    color: black;
}

.gitHub:hover {
    color: aqua;
}

@media screen and (max-width: 500px) {
    .LFM {
        color: aqua;
        text-decoration: none;
    }

    #form {
        display: flex;
        justify-content: right;
        margin-right: 10px;
        max-width: 200px;
        width: fit-content;
    }

    #search {
        max-width: 70%;
    }
}